.App-header {
    background-color: #fff;
    padding: 3vh;
    border-bottom: 1px solid #222;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 10vh;
    align-items: center;
    text-align: center;

    .App-logo {
        display: block;
        width: 18%;
        height: auto;
    }

    .mainLinks {
        display: flex;
        align-items: center;
        width: fill-available;
        height: 90%;

        a {
            margin: 0 1rem;

            &:first-child {
                margin-left: 6vw;
            }
        }
    }

    .authButtons {
        display: flex;
        align-items: center;
        width: 10%;

        a {
            border: 1px solid #222;
        }
    }

    a {
        border: 1px solid #222;
        padding: 2vh 1vw;
        color: #222;
        cursor: pointer;
        transition-duration: 0.4s;
        text-decoration: none;

        &:visited {
            text-decoration: none;
            color: #222;
        }

        &:hover {
            background: #222;
            color: white;
        }

        &:active {
            text-decoration: none;
        }
    }

    a.action {
        background: #06aad9;
        color: #fff;
        border: 1px solid #06aad9;

        &:hover {
            background: #015f7a;
            border: 1px solid #015f7a;
        }
    }
}