.Wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
    height: 84vh;

    .Stories {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 60%;
        margin-top: 2rem;
        padding-bottom: 2rem;
    }
}
  