.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 3rem;

    .profileArea {
        div {
            display: flex;
            flex-direction: column;
            align-items: center;

            img {
                width: 7em;
                border-radius: 50%;
            }
        }

        a.action {
            background: #06aad9;
            color: #fff;
            border: 1px solid #06aad9;
    
            &:hover {
                background: #015f7a;
                border: 1px solid #015f7a;
            }
        }
    }
}